$mainF: "Old Standard TT", "Georgia", serif;
$mainC: #333;
$mainBG: #FEF5E3;
$buttonC: #DDF0F1;
$inpOutline: #29B2C6;


$auth_BG: #444;
$auth_postsC: #ddd;
$auth_accent: #2AC8CA;
$auth_lockWarningC: #D51559;
$auth_F: "Source Sans Pro";
$auth_save: darken($auth_accent, 25%);
$auth_lock: darken($auth_lockWarningC, 25%);