<!doctype html>
<html>

<script type="text/template" id="postSnippet">

<div class="post">
	<h1 class="postTitle"><%= title %></h1>
	<h2 class="postSubtitle"><%= subtitle %></h2>
	<h3 class="postAuthor"><%= author %></h3>
	<span class="postDate"><%= date %></span>
	<div class="postBody">
		<p class="postBodyContent"><%= body %></p>
	</div>
</div>

</script>

<head>
	<title>Barrows</title>
	
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./main.css">

	<script src="./jquery.min.js"></script>
	<script src="./underscore.min.js"></script>
	<script src="./barrows.js"></script>
</head>

<body>

	<h1 id="pageTitle">Barrows</h1>

	<img src="./mask.jpg" id="logo">

	<span class="hr"></span>

	<div id="postsListing">

	</div>

</body>


</html>