<!doctype html>
<html>

<script type="text/template" id="postSnippet">

<div class="post">
	<h1 class="postTitle"><%= title %></h1>
	<h2 class="postSubtitle"><%= subtitle %></h2>
	<h3 class="postAuthor"><%= author %></h3>
	<span class="postDate"><%= date %></span>
	<div class="postBody">
		<p class="postBodyContent"><%= body %></p>
	</div>
</div>

</script>

<head>
	<title>Barrows</title>
	<link rel="stylesheet" src="./main.css">
	<script src="./jquery.min.js"></script>
	<script src="./underscore.min.js"></script>
	<script src="./barrows.js"></script>
</head>

<body>
	<h1>Barrows</h1>

	<form id="createPost">
		<input id="title" name="title" type="text">
		<input id="subtitle" name="subtitle" type="text">
		<input id="author" name="author" type="hidden" value="Logan">
		<textarea id="body" name="body">
			
		</textarea>

	</form>

	<button id="submit">Create</button>

	<div id="postsListing">

	</div>

</body>


</html>