html,
body {
  margin: 0;
  padding: 0;
  background-color: #FEF5E3; }

#pageTitle {
  text-align: center;
  color: #333;
  font-family: "Old Standard TT", "Georgia", serif;
  font-size: 46px; }

#logo {
  display: block;
  border-radius: 1em;
  max-width: 400px;
  margin: 1em auto; }

.hr {
  margin: 1em auto;
  width: 80%;
  display: block;
  border-bottom: 6px double #333; }

#postsListing {
  margin: 3em auto;
  max-width: 600px; }
  #postsListing .post {
    word-break: break-word;
    padding: 1em;
    color: #333;
    border-bottom: 4px double #333; }
    #postsListing .post .showUnlock {
      border: 1px solid #333;
      outline: none;
      border-radius: 0 5px 5px 0;
      background-color: #DDF0F1;
      font-family: "Old Standard TT", "Georgia", serif;
      font-size: 1em;
      padding: .25em .5em;
      color: #333;
      cursor: pointer; }
      #postsListing .post .showUnlock:focus {
        border: 1px dotted #333;
        outline: none; }
    #postsListing .post .postUnlock {
      border: 1px solid #333;
      outline: none;
      background-color: #DDF0F1;
      font-family: "Old Standard TT", "Georgia", serif;
      font-size: 1em;
      padding: .25em .5em;
      color: #333;
      cursor: pointer;
      width: 0;
      visibility: hidden; }
      #postsListing .post .postUnlock:focus {
        border: 1px dotted #333;
        outline: none; }
      #postsListing .post .postUnlock:hover {
        background-color: white; }
    #postsListing .post .postKey {
      border: 1px solid #333;
      outline: none;
      background-color: #DDF0F1;
      font-family: "Old Standard TT", "Georgia", serif;
      font-size: 1em;
      padding: .25em .5em;
      color: #333;
      width: 0px;
      visibility: hidden; }
      #postsListing .post .postKey:focus {
        border-radius: 4px;
        border: 1px dotted #29B2C6;
        outline: none;
        transition: 1s; }
    #postsListing .post .postTitle {
      text-align: center;
      text-transform: uppercase;
      font-variant: small-caps; }
    #postsListing .post .postSubtitle {
      text-align: center;
      text-transform: uppercase; }

#outlet {
  display: block;
  padding: 1em;
  border: 4px double #333;
  border-radius: 1em;
  margin: 10% auto auto;
  max-width: 500px;
  color: #333;
  font-family: "Old Standard TT", "Georgia", serif; }
  #outlet h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center; }
  #outlet label {
    text-align: center;
    display: block; }
  #outlet input {
    display: block;
    margin: .5em auto;
    padding: .5em; }
    #outlet input:focus {
      border: 2px solid white;
      outline: 2px solid #29B2C6; }

#submitCreateUser {
  display: block;
  margin: .5em auto;
  padding: .5em 1em;
  border: 1px solid #b3b3b3;
  font-family: "Old Standard TT", "Georgia", serif;
  font-size: 1.25em;
  background-color: white;
  color: #333;
  transition: .5s; }
  #submitCreateUser:hover {
    background-color: #29B2C6;
    color: white;
    border: 1px solid white; }
  #submitCreateUser:focus {
    outline: none;
    border: 1px dotted #29B2C6; }
  #submitCreateUser.hover {
    background-color: #29B2C6;
    color: white;
    border: 1px solid white; }

#login {
  display: block;
  margin: .5em auto;
  padding: .5em 1em;
  border: 1px solid #b3b3b3;
  font-family: "Old Standard TT", "Georgia", serif;
  font-size: 1.25em;
  background-color: white;
  color: #333;
  transition: .5s; }
  #login:hover {
    background-color: #29B2C6;
    color: white;
    border: 1px solid white; }
  #login:focus {
    outline: none;
    border: 1px dotted #29B2C6; }
  #login.hover {
    background-color: #29B2C6;
    color: white;
    border: 1px solid white; }

/*

Authoring Interface

*/
#authUI {
  display: block;
  height: 100%;
  font-family: "Source Sans Pro"; }
  #authUI body {
    height: 100%; }

#authTitle {
  margin: 0;
  top: 0;
  right: 0;
  color: #ddd;
  background-color: #444;
  padding: .5em 1em .5em 2em;
  position: fixed;
  border-radius: 0 0 0 .5em; }

#sidebar {
  box-sizing: border-box;
  margin: 0;
  float: left;
  width: 20%;
  height: 100%; }

#main {
  box-sizing: border-box;
  margin: 0;
  float: left;
  width: 80%;
  height: 100%; }

#posts {
  padding: 2em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #444;
  color: #ddd; }
  #posts h1 {
    margin: 0; }
  #posts ul {
    padding: 0;
    list-style: none; }
    #posts ul li {
      padding: .5em;
      margin: .5em auto; }
    #posts ul #noPosts {
      color: #2AC8CA; }
    #posts ul #lockWarning {
      padding: 1em .5em;
      border-radius: .5em;
      background-color: white;
      font-style: bold;
      color: #D51559; }
    #posts ul .auth_post {
      margin: .5em auto;
      padding: .5em;
      border-bottom: 2px solid #D51559;
      cursor: pointer;
      transition: .5s; }
      #posts ul .auth_post:hover {
        background-color: #515151;
        transition: .5s; }
      #posts ul .auth_post .auth_postTitle {
        margin: 0;
        font-size: 1.2em;
        color: #ddd; }
        #posts ul .auth_post .auth_postTitle .auth_postID {
          color: #2AC8CA; }
      #posts ul .auth_post .postLocked {
        font-weight: bold; }
  #posts #createPostBtn {
    bottom: 1em;
    left: 1em;
    position: absolute;
    display: block;
    margin: .5em auto;
    padding: .5em 1em;
    border: 1px solid #b3b3b3;
    font-family: "Old Standard TT", "Georgia", serif;
    font-size: 1.25em;
    background-color: white;
    color: #333;
    transition: .5s;
    font-family: "Source Sans Pro"; }
    #posts #createPostBtn:hover {
      background-color: #2AC8CA;
      color: white;
      border: 1px solid white; }
    #posts #createPostBtn:focus {
      outline: none;
      border: 1px dotted #2AC8CA; }
    #posts #createPostBtn.hover {
      background-color: #2AC8CA;
      color: white;
      border: 1px solid white; }

#main #lockedOutlet {
  position: absolute;
  width: 100%;
  max-height: 800px;
  margin: 150px auto;
  font-family: "Old Standard TT", "Georgia", serif; }
  #main #lockedOutlet .post {
    margin: 0 auto;
    width: 600px;
    word-break: break-word;
    padding: 1em;
    color: #333;
    border-bottom: 4px double #333; }
    #main #lockedOutlet .post .postTitle {
      text-align: center;
      text-transform: uppercase;
      font-variant: small-caps; }
    #main #lockedOutlet .post .postSubtitle {
      text-align: center;
      text-transform: uppercase; }

#editInterface {
  width: 80%;
  margin: 5% auto;
  box-sizing: border-box;
  padding: 2em;
  background-color: white;
  border: 4px solid #444;
  border-radius: 1em;
  min-height: 70%;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 1600px) {
    #editInterface {
      margin: 0;
      width: 100%; } }
  #editInterface #savingMessage {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-weight: bold;
    color: #2AC8CA;
    transition: 5s;
    font-size: 1.5em; }
  #editInterface #closeEditor {
    position: absolute;
    top: -1em;
    right: -.5em;
    font-size: 3em;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 1em;
    transition: .5s; }
    #editInterface #closeEditor:hover {
      transform: rotateZ(-90deg);
      color: #D51559;
      transition: .5s; }
  #editInterface #formattingOptions {
    width: 80%;
    padding: .2em;
    margin: 1em auto;
    list-style: none;
    border: 1px solid darkgray; }
    #editInterface #formattingOptions li {
      display: inline-block;
      margin: 0 auto;
      border: 2px solid #444;
      padding: .2em .5em;
      cursor: pointer;
      transition: .5s; }
      #editInterface #formattingOptions li:hover {
        background-color: #2AC8CA;
        color: white;
        transition: .5s; }
    #editInterface #formattingOptions .selected {
      background-color: #2AC8CA;
      color: white;
      transition: .5s; }
  #editInterface #createPostForm {
    width: 80%;
    display: block;
    margin: 1em auto;
    position: relative; }
    #editInterface #createPostForm label {
      font-size: 1.2em;
      font-weight: bold; }
    #editInterface #createPostForm input {
      margin: .5em auto;
      width: 100%;
      padding: 1em;
      display: block;
      font-family: monospace;
      font-size: 1em; }
      #editInterface #createPostForm input:focus {
        outline: none;
        border: 2px solid #2AC8CA; }
    #editInterface #createPostForm textarea {
      padding: 1em;
      width: 100%;
      min-height: 400px;
      resize: none;
      font-family: monospace;
      font-size: 1em; }
      #editInterface #createPostForm textarea:focus {
        outline: none;
        border: 2px solid #2AC8CA; }
      @media screen and (min-width: 768px) and (max-width: 1600px) {
        #editInterface #createPostForm textarea {
          min-height: 200px; } }
  #editInterface #postingOptions {
    list-style: none;
    padding: none;
    display: flex; }
    #editInterface #postingOptions li {
      margin: 0 auto;
      padding: .5em 1em;
      border: 4px solid #444;
      cursor: pointer; }
    #editInterface #postingOptions #save {
      transition: .5s; }
      #editInterface #postingOptions #save:hover {
        background-color: #145f60;
        transition: .5s;
        color: white; }
    #editInterface #postingOptions #lock {
      transition: .5s; }
      #editInterface #postingOptions #lock:hover {
        background-color: #610a29;
        transition: .5s;
        color: white; }

#alertMessage {
  width: 100%;
  margin: 0;
  top: 20%;
  position: fixed; }
  #alertMessage span {
    margin: 0 auto;
    display: block;
    width: 15%;
    color: #D51559;
    padding: 2em;
    border-radius: .5em;
    border: 2px solid #444;
    background-color: white;
    position: relative;
    -webkit-animation: wiggle .5s;
    animation: wiggle .5s; }

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(4deg); }
  33% {
    transform: rotate(-4deg); }
  66% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes wiggle {
  0% {
    transform: rotate(4deg); }
  33% {
    transform: rotate(-4deg); }
  66% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
